body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
}

a:active,
a:hover {
  outline: 0;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }


html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* ------------------------------------------
  FIXED HEADER
--------------------------------------------- */

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;
  line-height: 0;
}

.nav-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 93px;
}

.nav-logo {
  position: relative;
  height: 76px;
  line-height: 76px;
  font-size: 24px;
  float: left;
}

.logo {
  position: absolute;
  top: 5px;
  left: 40px;
}

.logo-text {
  position: absolute;
  top: 130px;
  left: 15px;
}

.nav-collapse {
  width: 100%;
  float: right;
  /* background-color: #85c835; */
}

.nav-collapse ul {
  list-style: none;
  float: right;
  margin-right: 20px;
}

.nav-collapse ul li {
  display: inline-block;
}

.nav-collapse ul li a {
  display: block;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: 100%;
  padding: 20px 10px;
  font-size: 33px;
  line-height: normal;
  color: #FFFFFF;
  text-decoration: none;
}

.nav-collapse a:hover {
  color: #F2E980;
}

.nav-collapse .active a {
  color: #F2E980;
}

#navToggle {
  display: none;
}

.nav-icon {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 76px;
  line-height: 76px;
  font-size: 27px;
  color: #FFFFFF;
  text-align: center;
}

.nav-mask {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

@media screen and (max-width: 768px) {

  /* .nav-collapse {
    background-color: #85c835;
  } */

  .nav-logo {
    width: 100%;
  }

  .logo {
    height: 66px;
    top: 5px;
    left: 10px;
  }

  .logo-text {
    width: 140px;
    top: 10px;
    left: 50%;
    margin-left: -70px;
  }

  .nav-collapse ul {
    margin-right: 0px;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.3s;
    -moz-transition: max-height 0.3s;
    -ms-transition: max-height 0.3s;
    -o-transition: max-height 0.3s;
    transition: max-height 0.3s;
  }

  .nav-collapse ul li {
      text-align: left;
      width: 100%;
      /* background-color: #85c835; */
  }

  .nav-collapse ul li a {
    display: block;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    padding: 20px 20px;
    text-align: center;
    font-size: 16px;
    line-height: normal;
    color: #fff;
    text-decoration: none;
  }

  .nav-icon {
    display: block;
  }

  .nav-icon .hamburger {
    width: 34px;
    margin: 27px auto 0;
  }

  .nav-icon span {
    display: block;
    width: 34px;
    height: 4px;
    margin-bottom: 4px;
    background: #FFFFFF;
    border-radius: 3px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
  }

  #navToggle:checked ~ .nav-mask {
    display: block;
  }

  #navToggle:checked ~ ul {
      max-height: 256px;
  }

  #navToggle:checked ~ .nav-icon span:first-child
  {
    transform: translate(0, 8px) rotate(-45deg) ;
  }

  #navToggle:checked ~ .nav-icon span:nth-child(2)
  {
    opacity: 0;
  }

  #navToggle:checked ~ .nav-icon span:last-child
  {
    transform: translate(0, -8px) rotate(45deg) ;
  }

}

h2 {
  /* background-color: #85c835; */
  text-align: center;
  color: #FFFFFF;
  font-size: 50px;
  font-weight: 400;
  padding: 10px 10px;
}

.img-full {
  display: block;
  width: 100%;
}

.header-bg {
  border: 1px solid transparent;
  border-image: url(../images/header.png);
  border-image-slice: 30 260 38 285 fill;
  border-image-width: 30 260 38 285;
  padding-bottom: 30px;
}

.border-big {
  border: 1px solid transparent;
  border-image: url(../images/border-big.png);
  border-image-slice: 80 275 80 265 fill;
  border-image-width: 80 275 80 265;
  padding: 50px 0 48px;
  position: relative;
  z-index: 1;
  margin-top: -56px;
  margin-bottom: -48px;
}

.border-thin {
  border: 1px solid transparent;
  border-image: url(../images/border-thin.png);
  border-image-slice: 55 280 40 280 fill;
  border-image-width: 55 280 40 280;
  padding: 32px 0 15px;
  position: relative;
  z-index: 1;
  margin-top: -38px;
  margin-bottom: -20px;
}

.footer-bg {
  border: 1px solid transparent;
  border-image: url(../images/footer.png);
  border-image-slice: 50 280 80 280 fill;
  border-image-width: 50 280 80 280;
  padding: 26px 0 0;
  position: relative;
  z-index: 1;
  margin-top: -30px;
}

.avocados {
  background-image: url(../images/avocados.png);
  background-repeat: repeat;
}

#home {
  margin-top: 80px;
}

.intro {
  text-align: center;
  color: #356211;
  font-size: 34px;
  font-weight: 300;
  max-width: 1000px;
  margin: 0 auto;
  padding: 90px 20px 100px;
}

.what-we-do {
  text-align: center;
  color: #FFFFFF;
  font-size: 34px;
  max-width: 1100px;
  margin: -5px auto 30px;
  padding: 0 20px;
}

.games {
  text-align: center;
  margin: 20px 50px 50px;
}

.game-icon {
  display: inline-block;
  margin: 5px 10px;
}

.who-we-are {
  text-align: center;
  color: #FFFFFF;
  font-size: 34px;
  font-weight: 300;
  max-width: 1100px;
  margin: -5px auto 30px;
  padding: 0 20px;
}

.people {
  text-align: center;
  max-width: 1171px;
  margin: 5px auto 80px;
}

.person {
  display: inline-block;
  width: 250px;
  margin: 5px 20px;
}

.person-icon {
  display: inline-block;
}

.person-name {
  color: #356211;
  font-size: 34px;
  margin-top: -20px;
}

.email {
  text-align: center;
  font-size: 34px;
  margin: 10px 0 55px;
}

.email img {
  display: inline-block;
  vertical-align: middle;
}

.email a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  color: #356211;
  margin-left: 20px;
}

.copyright {
  text-align: center;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 300;
  padding-bottom: 3px;
}