body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
}

a:active,
a:hover {
  outline: 0;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 1px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;
}

.nav-logo {
  position: relative;
  height: 76px;
  line-height: 76px;
  float: left;
}

.logo {
  position: absolute;
  top: 5px;
  left: 40px;
}

.nav-collapse {
  width: 100%;
  float: right;
}

.nav-collapse ul {
  list-style: none;
  float: right;
  margin-right: 20px;
}

.nav-collapse ul li {
  display: inline-block;
}

.nav-collapse ul li a {
  display: block;
  width: 100%;
  padding: 2.0rem 1.0rem;
  font-size: 3.3rem;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.nav-collapse ul li a:hover {
  color: #F2E980;
}

.nav-collapse ul .active a {
  color: #F2E980;
}

#navToggle {
  display: none;
}

.nav-icon {
  display: none;
}

.nav-mask {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

@media screen and (max-width: 768px) {

  .nav-logo {
    width: 100%;
    height: 60px;
    line-height: 60px;
  }

  .logo {
    height: 50px;
    top: 5px;
    left: 10px;
  }

  .nav-collapse ul {
    margin-right: 0px;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
  }

  .nav-collapse ul li {
      width: 100%;
  }

  .nav-collapse ul li a {
    font-size: 2rem;
    padding: 2rem;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 60px;
  }

  .nav-icon .hamburger {
    width: 34px;
    margin: 19px auto 0;
  }

  .nav-icon span {
    display: block;
    width: 34px;
    height: 4px;
    margin-bottom: 4px;
    background: #FFFFFF;
    border-radius: 3px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
  }

  #navToggle:checked ~ .nav-mask {
    display: block;
  }

  #navToggle:checked ~ ul {
    max-height: 256px;
  }

  #navToggle:checked ~ .nav-icon span:first-child
  {
    transform: translate(0, 8px) rotate(-45deg) ;
  }

  #navToggle:checked ~ .nav-icon span:nth-child(2)
  {
    opacity: 0;
  }

  #navToggle:checked ~ .nav-icon span:last-child
  {
    transform: translate(0, -8px) rotate(45deg) ;
  }

}

h2 {
  padding: 5px 0 8px;
  font-size: 5.0rem;
  font-weight: 400;
}

.img-full {
  display: block;
  width: 100%;
}

.header-bg {
  border: 1px solid transparent;
  border-image: url(../images/Header.png);
  border-image-slice: 30 260 38 285 fill;
  border-image-width: 30 260 38 285;
  padding-bottom: 30px;
}

.border-big {
  position: relative;
  z-index: 1;
  border: 1px solid transparent;
  border-image: url(../images/Board_Big.png);
  border-image-slice: 80 275 80 265 fill;
  border-image-width: 80 275 80 265;
  padding: 50px 0 48px;
  margin-top: -56px;
  margin-bottom: -48px;
}

.border-thin {
  position: relative;
  z-index: 1;
  border: 1px solid transparent;
  border-image: url(../images/Board_Thin.png);
  border-image-slice: 55 280 40 280 fill;
  border-image-width: 55 280 40 280;
  padding: 32px 0 15px;
  margin-top: -38px;
  margin-bottom: -20px;
}

.footer-bg {
  position: relative;
  z-index: 1;
  border: 1px solid transparent;
  border-image: url(../images/Footer.png);
  border-image-slice: 50 280 80 280 fill;
  border-image-width: 50 280 80 280;
  padding: 26px 0 0;
  margin-top: -30px;
}

.avocados {
  background-image: url(../images/avocados.png);
  background-repeat: repeat;
  background-position: center;
}

section {
  scroll-margin-top: 80px;
}

#home {
  margin-top: 95px;
}

.intro {
  color: #356211;
  font-size: 3.4rem;
  font-weight: 300;
  max-width: 1000px;
  margin: 0 auto;
  padding: 9.0rem 2.0rem 10.0rem;
}

.what-we-do {
  font-size: 3.4rem;
  max-width: 1100px;
  margin: -0.5rem auto 3.0rem;
  padding: 0 4.0rem;
}

.games {
  margin: 2.0rem 0.0rem 5.0rem;
}

.game-icon {
  display: inline-block;
  margin: 0.5rem 1.0rem;
}

.who-we-are {
  font-size: 3.4rem;
  font-weight: 300;
  max-width: 1100px;
  margin: -0.5rem auto 3.0rem;;
  padding: 0 2.0rem;
}

.people {
  max-width: 1171px;
  margin: 0 auto 8.0rem;
}

.person {
  display: inline-block;
  width: 235px;
  margin: 0.5rem 2.0rem;
}

.person-icon {
  display: inline-block;
}

.person-name {
  color: #356211;
  font-size: 3.4rem;
  margin-top: -3.0rem;
}

.email {
  font-size: 3.4rem;
  margin: 1.0rem 0 5.5rem;
}

.email img {
  display: inline-block;
  vertical-align: middle;
  width: 9.1rem;
}

.email a {
  color: #356211;
  margin-left: 2.0rem;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.copyright {
  font-size: 2.2rem;
  font-weight: 300;
  padding-bottom: 0.3rem;
}

@media screen and (max-width: 768px) {

  html {
    font-size: 8px;
  }

  .header-bg {
    border-image: url(../images/Header_Small.png);
    border-image-slice: 15 130 19 142 fill;
    border-image-width: 15 130 19 142;
    padding-bottom: 15px;
  }
  
  .border-big {
    border-image: url(../images/Board_Big_Small.png);
    border-image-slice: 40 138 40 133 fill;
    border-image-width: 40 138 40 133;
    padding: 25px 0 24px;
    margin-top: -28px;
    margin-bottom: -24px;
  }
  
  .border-thin {
    border-image: url(../images/Board_Thin_Small.png);
    border-image-slice: 28 140 20 140 fill;
    border-image-width: 28 140 20 140;
    padding: 15px 0 7px;
    margin-top: -19px;
    margin-bottom: -10px;
  }
  
  .footer-bg {
    border-image: url(../images/Footer_Small.png);
    border-image-slice: 25 140 40 140 fill;
    border-image-width: 25 140 40 140;
    padding: 13px 0 0;
    margin-top: -15px;
  }

  .person {
    width: 190px;
  }

  #home {
    margin-top: 65px;
  }

  .copyright {
    font-size: 1.5rem;
    font-weight: 300;
    padding-bottom: 0.2rem;
  }

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 450px) {

  html {
    font-size: 6px;
  }

  .person {
    width: 141px;
    margin: 0.5rem 1.0rem;
  }
  
}