/*----------------------------------------------------------------------------*/
/*#MAIN/GLOBAL STYLE*/
/*----------------------------------------------------------------------------*/
::-moz-selection { 
    background: #38837f; 
    color: #fff;
    -webkit-text-fill-color: #fff;
}
::selection { 
    background: #38837f; 
    color: #fff;
    -webkit-text-fill-color: #fff;
}

body {
	position: relative;
	overflow-x: hidden;

	&.menu-triggered { overflow: hidden; }
}

.wrapper-right {
	margin-right: calc(-100vw / 2 + 1170px / 2);
    max-width: 1540px;

    @media (max-width: $screen-lg) { margin-right: 0; }
}

.anchor-link {
	position: absolute;
    top: -82px;
    left: 0;
    right: 0;
    pointer-events: none;
}

 .homepage {
	 &.preloader-active { overflow: hidden; }
 }
/*----------------------------------------------------------------------------*/
/* #HOMEPAGE HERO SECTION
/*----------------------------------------------------------------------------*/
.hero-section {
	// position: fixed;
	// top: 0;
	// left: 0;
	// right: 0;
	overflow: hidden;
	min-height: 870px;
	padding-top: 120px;
	background-color: #F6F8F9;
	background-image: url('../images/hero-gradient.png');

	@media (max-width: $screen-xxxl) { 
		height: 100vh;
		min-height: 710px; 
	}

	@media (max-width: $screen-xl) { 
		position: relative; 
		height: auto;
		min-height: auto;
		padding-bottom: 40px;
	}

	@media (max-width: $screen-md) {
		padding-bottom: 47vw;
	}

	&__col-text { 
		width: 40%; 

		@media (max-width: $screen-xxxl) { width: 50%; }

		@media (max-width: $screen-xl) { width: 60%; }

		@media (max-width: $screen-lg) { 
			width: 100%; 			
			margin-bottom: 30px;
		}

		@media (max-width: $screen-md) { text-align: center; }

	}

	&__col-img { 
		width: 60%; 
		bottom: 150px;
		max-height: 580px;

		@media (max-width: $screen-xxxl) { 
			width: 50%; 
			bottom: 90px; 
		}

		@media (max-width: $screen-xl) { 
			width: 40%; 
			bottom: 0;
		}

		@media (max-width: $screen-lg) { width: 100%; }
	}	

	.element-one {
		z-index: 999;		

		img {
			position: relative;
			top: 300px;
			animation: elementOne 3s linear infinite;
			backface-visibility: hidden;

			@keyframes elementOne {
	  			0%, 100% {
	    			transform: translateY(0);
	  			}
	  			50% {
	    			transform: translateY(-15px);
	  			}
			}

			@media (max-width: $screen-xl) { top: 180px; }
			
		}
		
	}

	.element-two {
    	z-index: 99;

    	img {
			position: relative;
    		top: 100px;
    		left: 100px;
    		animation: elementTwo 4s linear infinite;
			backface-visibility: hidden;

    		@keyframes elementTwo {
	  			0%, 100% {
	    			transform: translate(0, 0);
	  			}
	  			50% {
	    			transform: translate(-20px, -20px);
	  			}
			}

    		@media (max-width: $screen-xl) {
    			top: 50px;
    			left: -10px;
    		}
		}
	}

	.element-three {
		z-index: 9;

		img {
			position: relative;
			animation: elementThree 4s linear infinite;
			backface-visibility: hidden;

			@keyframes elementThree {
	  			0%, 100% {
	    			transform: translate(0, 0);
	  			}
	  			50% {
	    			transform: translate(-10px, -10px);
	  			}
			}
		}
	}

	.element-four {
		img {
			position: relative;
			animation: elementFour 4s linear infinite;
			backface-visibility: hidden;

			@keyframes elementFour {
	  			0%, 100% {
	    			transform: translateX(0);
	  			}
	  			50% {
	    			transform: translateX(-10px);
	  			}
			}
		}
	}

	.text-decorations {
		position: relative;
		display: inline-block;		

		@media (max-width: $screen-xl) { max-width: 440px; }

		@media (max-width: $screen-xs) { max-width: 280px; }


		&::before,
		&::after {
			content: "";		    
		    background-size: contain;
		    background-repeat: no-repeat;
		    background-position: center center;		   
		    height: 105px;
		    position: absolute;	    
		    transform: translateY(-50%);

		    @media (max-width: $screen-xl) { content: none; }
		}

		&::before {
			background-image: url(../images/left-decorations.svg);
			left: -50px;
			top: calc(50% - 5px);
		 	width: 35px;
		}

		&::after {
			background-image: url(../images/right-decorations.svg);
			right: -55px;
    		top: calc(50% - 12px);
    		width: 40px;
		}
	}
}

/*----------------------------------------------------------------------------*/
/* #HOMEPAGE GAMES SECTION
/*----------------------------------------------------------------------------*/
.item-column { 
	width: 50%;
	position: relative;
	z-index: 99;

	@media (max-width: $screen-md) { width: 100%; }
}

.items__layer { backface-visibility: hidden; }

.item-images {
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
	pointer-events: none;

	&::after {
		content: "";
		position: absolute;
		bottom: -80px;
		left: 0;
		right: 0;
		height: 80px;
		background-color: #fff;
		z-index: 999;
	}

}

.item-bg-image {
	max-height: 0;

	@media (max-width: $screen-md) {
		max-height: initial;
	}

	.simpleParallax {
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;

		@media (max-width: $screen-md) {
			border-bottom-left-radius: 0;
			border-top-right-radius: 10px;
		}	
	}
}


.column-reverse .item-bg-image {

	.simpleParallax {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;

		@media (max-width: $screen-md) {
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
		}	
	} 
}

.item-img__girl {
	position: relative;
	left: -30px;
	z-index: 99;
	width: 50%;
	font-size: 0;

	img {
		position: relative;
		bottom: -80px;
		width: 100%;

		@include screen(xxs) { bottom: 0; }
	}
}

.item-img__boy {
	position: relative;
	right: 0;
	z-index: 99;
	width: 50%;
	font-size: 0;

	img {
		position: relative;
		bottom: -80px;
		width: 100%;

		@include screen(xxs) { bottom: 0; }
	}
}

.item-img__decoration {
    position: absolute;
    left: -20px;
    top: 50%;
	transform: translateY(-30%);
	width: 100%;

	img { width: 100%; }

	@include screen(md) { transform: translateY(-35%); }
}

.item-img__candle-one {
	position: relative;
    left: -70px;
    bottom: 50px;
    z-index: 9;
	width: 70%;

	img { width: 100%; }

	@include screen(xxs) { left: -30px; }
}

.item-img__candle-two {	
    position: absolute;
    right: -100px;
    bottom: 30px;
    z-index: 9;
	width: 80%;

	img { width: 100%; }

	@include screen(xxs) { right: -50px; }
}

.item-img__decoration-dots {
    position: absolute;
    top: 0;
    left: 0;
	width: 100%;

	img { width: 100%; }
}

.column-left-border {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;

	@media (max-width: $screen-md) {
		border-bottom-left-radius: 0;
		border-top-right-radius: 10px;
	}
}

.column-right-border {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;

	@media (max-width: $screen-md) {
		border-top-right-radius: 0;
		border-bottom-left-radius: 10px;
	}
}

.column-reverse {
	.column-left-border {
		@media (max-width: $screen-md) {
			border-top-right-radius: 0;
			border-top-left-radius: 0;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
		}
	}

	.column-right-border {
		@media (max-width: $screen-md) {
			border-top-right-radius: 10px;
			border-top-left-radius: 10px;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}

.item-text {
	max-width: 510px;
	padding: 30px 15px 40px 45px;

	@media (max-width: $screen-xs) { padding: 30px 20px; }

	p { line-height: 1.4 }

	&__counter--number {
		position: relative;
	    background: #fff;
	    box-shadow: 0 0 10px #e1e8ec;
	    border-radius: 5px;
	    min-width: 84px;
	    text-align: center;
	    padding: 14px 5px;
	    margin-right: 20px;

	    &::after {
	    	content: "";
		    width: 0;
		    height: 0;
		    border-top: 8px solid transparent;
		    border-bottom: 8px solid transparent;
		    border-left: 8px solid #fff;
		    position: absolute;
		    top: 50%;
		    right: -8px;
		    transform: translateY(-50%);
		    pointer-events: none;
	    }
	}
}

.store-box__buttons { 
	gap: 15px;

	img { border-radius: 5px; }

	a {
		border-radius: 5px;
		transition: .3s ease-in-out; 
		&:hover { box-shadow: 0 5px 10px 0 rgba(0,0,0,.4); }
	}
}

.box--left { 
	width: calc(31% - 15px); 

	&__wrap--text p {
		line-height: 1.4;
		color: #DCE4E6;
	}

	@media (max-width: $screen-lg) { 
		width: 100%;
		text-align: center;
	}
}

.box--right { 
	width: calc(69% - 15px); 

	@media (max-width: $screen-lg) {
		width: calc(100% + 30px);
    	margin-left: -15px;
    	margin-right: -15px;
	}
}

/*----------------------------------------------------------------------------*/
/* #HOMEPAGE MEET OUR TEAM SECTION
/*----------------------------------------------------------------------------*/

.box-left--sm { width: calc(24% - 15px); }

.box-right--lg { 
	width: calc(76% - 15px);

	@media (max-width: $screen-lg) {
		width: 100%;
    	margin-left: 0;
    	margin-right: 0;
	}

	.swiper-slide { 
		display: flex;
		height: auto; 
	}

	.swiper-navigation-wrap {
		@media (max-width: $screen-lg) {
			 margin-left: 0;
    		margin-right: 0;
		}   
	}
}

.swiper-navigation-wrap {
	gap: 20px;

	@media (max-width: $screen-lg) {
		margin-left: 15px;
    	margin-right: 15px;
	}

	.swiper-pagination { 
		max-width: 300px;
		position: relative; 
		height: 1px;
		background-color: #1A3C3E;
		margin-left: 10px;

		@media (max-width: $screen-lg) { margin-left: 0; }

		span {
			background-color: #F8A629;
		}
	}

	.swiper-pagination--grey { background-color: #DEE6EB; }
}

.swiper-buttons-wrap {
	width: 100%;
	max-width: 70px;
	gap: 7px;	

	@media (max-width: $screen-xxs) { margin-right: 1px; }
}

.swiper-button-next, 
.swiper-button-prev {
	position: relative;
	top: auto;
	width: auto;
	height: auto;
	margin-top: auto;
	color: #fff;
	left: auto;
	right: auto;

	&::after, 
	&::after { content: none; }

	& span, 
	& span {
		width: 32px;
		height: 32px;
		display: flex;
		align-items: center;
		justify-content: center;			
		border-radius: 50%;
		transition: .3s ease-in-out;			
	}

	.swiper-button-white {
		background-color: rgba(255, 255, 255, .2);

		&:hover { background-color: rgba(0, 0, 0, .2); }
	}

	.swiper-button-green {
		background-color: #38837F;

		&:hover { background-color: #2e5c5a; }
	}
}

.carousel-images .swiper-slide {
	font-size: 0;
	text-align: center;
}

/*----------------------------------------------------------------------------*/
/* #HOMEPAGE CAREER SECTION
/*----------------------------------------------------------------------------*/

.border-dashed { border: 2px dashed #002F39; }

.career-item {
	max-width: 970px;
	margin-left: auto;
	margin-right: auto;		
	display: block;
	padding: 25px 25px 25px 20px;
	color: #4D4D4D;
	border-radius: 10px;
	transition: .3s ease-in-out;

	@media (max-width: $screen-sm) { padding: 20px; }

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: $screen-sm) {
			flex-direction: column;
    		justify-content: flex-start;
    		align-items: flex-start;
		}
	}


	&__header,
	&__content {
		transition: .2s ease-out;
		transform: translateX(0);
		backface-visibility: hidden;
	}

	&:hover:not(.border-dashed) { box-shadow: 0 5px 8px 0 rgba(0, 47, 57, .2); }

	&:not(:last-child) { margin-bottom: 20px; }

	&:hover &__header,
	&:hover &__content { transform: translateX(5px); }

	&__tags {
		gap: 10px;

		@media (max-width: $screen-sm) { order: -1;}

		li { 
			margin-bottom: 0; 
			font-size: 12px;
			text-transform: uppercase;
			color: #fff;
			padding: 3px 10px;
			border-radius: 2px;

			@media (max-width: $screen-sm) {
				font-size: 10px;
				padding: 3px 6px;
			}
		}
	}

	&__content p { 
		font-size: 16px; 
		margin-bottom: 10px;
		line-height: 1.6;
	}

	&__content &__apply-link {	
		color: #002F39;	
		margin-bottom: 0;

		&::after {
			content: "";
		    display: inline-block;
		    background-image: url(../images/arrow-right.svg);
		    background-repeat: no-repeat;
		    background-size: cover;
		    background-position: center;
		    position: relative;
		    z-index: 9;
		    right: -15px;
		    width: 15px;
		    height: 10px;
		    top: 0;
		    transition: .1s linear;
		}
	}

	&:hover &__apply-link::after { width: 18px;	}
		
}
/*----------------------------------------------------------------------------*/
/* #SINGLE PAGE CAREER HERO SECTION
/*----------------------------------------------------------------------------*/
.hero-section--sm {
	min-height: 340px;
	padding-top: 80px;
	padding-bottom: 60px;
	background-color: #F6F8F9;
	background-image: url('../images/bg-hero-gradient-sm.jpg');
}
/*----------------------------------------------------------------------------*/
/* #SINGLE PAGE CAREER BODY SECTION
/*----------------------------------------------------------------------------*/
.entry-content__wrap { gap: 40px; }

.info-sidebar {
    background-color: #f6f8f9;
    border-radius: 10px;
    padding: 30px;
    margin-top: -30px;
    position: sticky;
    z-index: 99;
    top: 100px;
    width: 100%;
    max-width: 400px;

    @media (max-width: $screen-sm) {
    	max-width: 100%;
    	position: relative;
    	top: 0;
    	padding: 20px;
    }

    &__share { 
    	gap: 15px; 

    	.btn { 
    		padding: 15px 30px; 

    		@media (max-width: $screen-sm) {
    			padding: 15px 5px; 
    		}

    		&:hover { 
    			padding-right: 55px; 

    			@media (max-width: $screen-sm) { padding-right: 25px; }
    		}
    	}

    }

    &__share--icon {
    	min-width: 54px;
    	height: 54px;
    	border-radius: 50%;
    	background-color: #fff;
    	display: flex;
    	align-items: center;
    	justify-content: center;
    	cursor: pointer;
    	transition: .3s ease-in-out;
		backface-visibility: hidden;
		transform: translateY(0);

    	&:hover { transform: translateY(-5px); }
    }
}

.info-content { width: 100%; }

.icon-list {
	margin-bottom: 20px;

	&__item {
		font-size: 16px;
		position: relative;
		padding-left: 50px;
		margin-bottom: 15px;

		&::before {	content: none; }
	}

	&__img {
		width: 32px;
   	 	height: 32px;
    	display: flex;
    	align-items: center;
    	justify-content: center;
    	background-color: #287471;
    	border-radius: 50%;
    	position: absolute;
    	left: 0;
    	top: -3px;
	}
}
/*----------------------------------------------------------------------------*/
/* #SINGLE PAGE CAREER SHARE POPUP
/*----------------------------------------------------------------------------*/
.popup-share {
    position: absolute;
    bottom: 75px;
    left: 0;
    background: #fff;
    z-index: 9;
    box-shadow: 0px 14px 40px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
	padding: 30px;
    width: 470px;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease-in-out;

     @media (max-width: $screen-sm) {
     	left: auto;
     	right: -30px;
    }

    @media (max-width: $screen-xs) {
    	padding: 20px;
    	width: 300px;
    }

    &__close {
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    width: 32px;
	    height: 32px;
	    background-color: #F6F8F9;
	    border-radius: 50%;
	    position: absolute;
	    right: 30px;
	    top: 30px;
	    cursor: pointer;

	    @media (max-width: $screen-xs) {
	    	right: 20px;
	    	top: 20px;
	    }
	}

	&__icons {
		gap: 45px;
		padding-left: 0 !important;
		margin-bottom: 0 !important;

		@media (max-width: $screen-xs) { gap: 15px; }


		a { 
			display: inline-block; 

			i {
				width: 64px;
				height: 64px;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 24px;
				margin-bottom: 10px;
				transition: .3s ease-in-out;
				backface-visibility: hidden;

				@media (max-width: $screen-xs) {
					width: 45px;
    				height: 45px;
    				border-radius: 50%;
    				font-size: 18px;
    				margin-left: auto;
    				margin-right: auto;
				}
			}

			span { 
				font-size: 14px;
				color: #4D4D4D;
			}
		}	


		li:hover i { transform: translateY(-4px) } 
	}

	&__twitter a i { 
		color: #1DA1F2;
		background: rgba(29, 161, 242, 0.1); 
	}

	&__facebook a i { 
		color: #1877F2;
		background: rgba(24, 119, 242, 0.1); 
	}

	&__linkedin a i { 
		color: #0077B5;
		background: rgba(0, 119, 181, 0.1); 
	}

	&__mail a i { 
		color: #287471;
		background: rgba(40, 116, 113, 0.1); 
	}

	&__url {
		position: relative;
		background-color: #F6F8F9;
		padding: 10px 55px 10px 20px;
		border-radius: 4px;
		cursor: pointer;

		p {
    		font-size: 14px;
    		text-overflow: ellipsis;
    		overflow: hidden;
    		white-space: nowrap;

    		&::-moz-selection { 
			    background: transparent; 
			    color: #333;
			    -webkit-text-fill-color: #333;
			}
			&::selection { 
			    background: transparent; 
			    color: #333;
			    -webkit-text-fill-color: #333;
			}
		}

		span {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			backface-visibility: hidden;
			font-size: 0;
			padding: 12px;			
		}
	}

	&.active {
		opacity: 1;
		pointer-events: auto;
	}

	.tooltiptext {
	  	visibility: hidden;
	    width: 60px;
	    background-color: #000;
	    color: #fff;
	    text-align: center;
	    padding: 5px 0;
	    border-radius: 3px;
	    font-size: 11px;
	    position: absolute;
	    z-index: 1;
	    left: 50%;
	    margin-left: -30px;
	    opacity: 0;
	    transition: opacity .3s;
	    top: calc(100% + 15px);
	    pointer-events: none;

	    &::after {
	    	content: "";
	    	position: absolute;
	    	bottom: 100%;
	    	left: 50%;
	    	margin-left: -5px;
	    	border-width: 5px;
	    	border-style: solid;
	    	border-color: transparent transparent #000 transparent;
	    }

	    &.active {
	    	visibility: visible;
	  		opacity: 1;
	    }
	}	
}
/*----------------------------------------------------------------------------*/
/* #ERROR 404 PAGE
/*----------------------------------------------------------------------------*/
.error-section {
    background-image: url('../images/error-bg.jpg');
    min-height: calc(100vh - 124px);
    padding-top: 100px;
    padding-bottom: 50px;

    .txt--xxl { line-height: 1.2; }

    @media (max-width: $screen-md) { 
    	text-align: center; 
    	padding-bottom: 20px;
    }

    .txt--right {
    	@media (max-width: $screen-md) { 
    		text-align: center; 
    		margin-top: 40px;
    	}
    }
}
/*----------------------------------------------------------------------------*/
/* #PRELOADER
/*----------------------------------------------------------------------------*/
.preloader-box {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	background-image: url('../images/hero-gradient.png');
	background-size: cover;
	transition: .7s ease-in-out;
	z-index: 9999;

	// needed for the scrollbar visibility change not to push the content to the left
	margin-right: calc(-(100vw - 100%));
	width: calc(100% + (100vw - 100%));

	.preloader {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 500px;

		@include screen(xs) {
			max-width: 300px;
			width: 100%;
		}
	}
}

.preloader-box.remove {
	animation: hide-preloader 1s linear forwards;
}

@keyframes hide-preloader {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	50% {
		opacity: 0;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(-100%);
	}
}
