/*----------------------------------------------------------------------------*/
/*#BACKGROUND STYLE*/
/*----------------------------------------------------------------------------*/
.bg--white { background-color: #fff; }
.bg--grey { background-color: #F6F8F9; }
.bg--green { background-color: #38837F; }
.bg--dark-green { background-color: #117186; }
.bg--blue { background-color: #002F39; }
.bg--orange { background-color: #F8A629; }

.bg--green-gradient { background: linear-gradient(289.98deg, #38837F 40.05%, #36A8AB 100%); }

.bg--properties {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}